.button {
    font-weight: bold;
    border-radius: 3px;
    height: 2rem;
    color: #f65261;
    border: none;
    background: rgba(85, 85, 85, 0.5);
    cursor: pointer;
    position: relative;
    padding: 0 1rem;
}
