.logo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 20px;
    color: #f65261;

    &--left {
        font-weight: bold;
    }
    &--right {
        font-weight: 400;
    }
}
